<app-default-login-layout
    title="Crie sua conta!" 
    primaryBtnText="Criar conta"
    secondaryBtnText="Entrar"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!signupForm.valid"
>
    <form [formGroup]="signupForm">
        <app-primary-input
            formControlName="nome"
            inputName="nome"
            type="text"
            label="Seu nome"
            placeholder="John Doe"
        >
            <img src="/assets/svg/email-icon.svg"/>
        </app-primary-input>
        <app-primary-input
            formControlName="cpf"
            inputName="cpf"
            type="text"
            label="Seu CPF"
            placeholder="123.456.789-00"
        >
        <img src="/assets/svg/email-icon.svg"/>
        </app-primary-input>
        <app-primary-input
            formControlName="contaOrigem"
            inputName="contaOrigem"
            type="text"
            label="Defina sua conta"
            placeholder="123456789"
        >
        <img src="/assets/svg/email-icon.svg"/>
        </app-primary-input>
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="johndoe@gmail.com"
        >
            <img src="/assets/svg/email-icon.svg"/>
        </app-primary-input>
        <app-primary-input
            formControlName="senha"
            inputName="senha"
            type="password"
            label="Sua senha"
        >
        <img src="/assets/svg/password-icon.svg"/>
        </app-primary-input>
        <app-primary-input
            formControlName="senhaConfirm"
            inputName="senhaConfirm"
            type="password"
            label="Confirme sua senha"
        >
            <img src="/assets/svg/password-icon.svg"/>
        </app-primary-input>
    </form>
</app-default-login-layout>